<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/van.png" height="24" class="d-inline-block align-text-top">
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="caronas">Encontrar Carona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="oferecer-carona">Oferecer Carona</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cadastro">Cadastro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>