<div class="p-2" style="margin-left: 30px">
    <a class="voltar" routerLink="/">
        <i class="bi bi-chevron-left"></i>
        <label> Voltar </label>
    </a>
</div>
<div class="d-flex p-2 justify-content-center">
    <h2>Minhas Caronas</h2>
</div>
<div class="d-flex p-2 justify-content-center">
    <div class="filter">
        <div class="d-flex justify-content-between">
            <h4>Ordenar por</h4>
            <a>Limpar tudo</a>
        </div>
        <div>
            <label for="check-1" class="filtro-item mb-1">
                <i class="bi bi-clock"></i>
                <div class="descricao">Saída mais cedo</div>
                <div class="form-check form-check-inline" (click)="mudarFiltro('saidaCedo')">
                    <input type="radio" class="form-check-input reset-position" name="filtro" [checked]="filtro == 'saidaCedo'" />
                </div>
            </label>

            <label for="check-2" class="filtro-item mb-1">
                <i class="bi bi-clock"></i>
                <div class="descricao">Saída mais tarde</div>
                <div class="form-check form-check-inline" (click)="mudarFiltro('saidaTarde')">
                    <input type="radio" class="form-check-input reset-position" name="filtro" [checked]="filtro == 'saidaTarde'" />
                </div>
            </label>

            <label for="check-3" class="filtro-item mb-1">
                <i class="bi bi-coin"></i>
                <div class="descricao">Preço mais baixo</div>
                <div class="form-check form-check-inline" (click)="mudarFiltro('precoBaixo')">
                    <input type="radio" class="form-check-input reset-position" name="filtro" [checked]="filtro == 'precoBaixo'" />
                </div>
            </label>

            <label for="check-4" class="filtro-item mb-1">
                <i class="bi bi-coin"></i>
                <div class="descricao">Preço mais alto</div>
                <div class="form-check form-check-inline" (click)="mudarFiltro('precoAlto')">
                    <input type="radio" class="form-check-input reset-position" name="filtro" [checked]="filtro == 'precoAlto'" />
                </div>
            </label>

            <!-- <label for="check-3" class="filtro-item mb-1">
                <i class="bi bi-clock"></i>
                <div class="descricao">Perto do ponto de partida</div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input reset-position" name="filtro" id="check-3" />
                </div>
            </label>

            <label for="check-4" class="filtro-item mb-1">
                <i class="bi bi-clock"></i>
                <div class="descricao">Perto do ponto de chegada</div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input reset-position" name="filtro" id="check-4" />
                </div>
            </label>

            <label for="check-5" class="filtro-item mb-1">
                <i class="bi bi-clock"></i>
                <div class="descricao">Viagem mais curta</div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input reset-position" name="filtro" id="check-5" />
                </div>
            </label> -->
        </div>
    </div>
    <div class="trips">
        <div class="trip" [routerLink]="'/view-carona/' + carona.id" *ngFor="let carona of caronas">
            <div class="linha">
                <div class="locais">
                    <div class="partida">
                        <div>
                            <b>{{ converterData(carona.saidaHorario) }}</b>
                        </div>
                        <div>{{ carona.saida }}</div>
                    </div>
                    <div class="destino">
                        <div>
                            <b>{{ converterData(carona.chegadaHorario) }}</b>
                        </div>
                        <div>{{ carona.chegada }}</div>
                    </div>
                </div>
                <div class="text-right">
                    <div>{{ carona.valor | currency }}</div>
                    <div>{{ 4 - (carona?.passageiros?.length ?? 0) }} vagas restantes</div>
                </div>
            </div>
            <!-- <div class="linha" style="justify-content: start; gap:20px;">
                <div class="user" style="width: fit-content;">
                    <img class="icon" src="assets/pessoa.png" alt="" width="35px" height="35px" />
                    <div class="info ml-3">
                        <div class="fw-bold">
                            {{ carona.motorista?.nomeCompleto }}
                        </div>
                        <div class="fw-bold">
                            {{ carona.motorista?.motorista?.modeloVeiculo }}
                        </div>
                        <div class="fw-bold"><i class="bi bi-star-fill"></i> 5.0</div>
                    </div>
                </div>

                <div class="user mt-0">
                    <div class="info">
                        <div>
                            <div class="fw-bold">Email:</div>
                            {{ carona?.motorista?.email }}
                        </div>
                        <div>
                            <div class="fw-bold">Telefone:</div>
                            {{ carona?.motorista?.telefone | mask: '(00) 0000-0000||(00) 00000-0000' }}
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
