<div class="bg-light p-4">
    <div class="d-flex justify-content-between w-75 mt-4 mx-auto">

        <div>
            <div>
                <a>Como Funciona</a>
            </div>
            <div>
                <a>Quem Somos</a>
            </div>
        </div>

        <div>
            <div>
                <a>Central de Ajuda</a>
            </div>
            <div>
                <a>Termos de Uso</a>
            </div>
        </div>

        <div>
            <div>
                <a>Trabalhe Conosco</a>
            </div>
            <div>
                <a>Seja Nosso Parceiro</a>
            </div>
        </div>

        <div class="social-media d-flex">
            <a class="mx-1 a-facebook"> <i class="bi bi-facebook"></i> </a>
            <a class="mx-1 a-twitter"> <i class="bi bi-twitter"></i> </a>
            <a class="mx-1 a-youtube"> <i class="bi bi-youtube"></i> </a>
            <a class="mx-1 a-instagram"> <i class="bi bi-instagram"></i> </a>
        </div>

    </div>
    <div class="w-75 mx-auto mt-5" style="font-size: 11px;">
        VãoBora, 2022 ©
    </div>
</div>
