<app-navbar></app-navbar>

<form class="col-sm-12 col-md-8 col-lg-7 row g-3 mt-4" style="margin-left:auto; margin-right:auto;">
	<a class="voltar" routerLink="/login">
		<i class="bi bi-chevron-left"></i>
		<label> Voltar </label>
	</a>

	<h4 class="text-center">Cadastre-se agora e VãoBora!</h4>
	<div class="cadastro-motorista">
		<select id="cadastro" class="form-select" [(ngModel)]="tipoUsuario" aria-label="Selecione Categoria de Cadastro"
			[ngModelOptions]="{standalone: true}">
			<option value="" selected>Em qual categoria deseja se cadastrar?</option>
			<option value="2">Cliente VãoBora (Apenas Encontrar Caronas).</option>
			<option value="1">Motorista VãoBora (Oferecer e Encontrar Caronas).</option>
		</select>
	</div>
	<div class="col-md-6 required">
		<label for="inputEmail4" class="form-label">Email</label>
		<input type="email" class="form-control" id="inputEmail4" required>
	</div>
	<div class="col-md-6 required">
		<label for="inputPassword4" class="form-label">Senha</label>
		<input type="password" class="form-control" id="inputPassword4" required>
	</div>

	<div class="col-md-12 required">
		<label for="inputEmail4" class="form-label">Nome Completo</label>
		<input type="name" class="form-control" id="inputEmail4" required>
	</div>

	<div class="col-12 required">
		<label for="inputAddress" class="form-label">Endereço</label>
		<input type="text" class="form-control" id="inputAddress" placeholder="Exemplo: Rua Ipanema, 34" required>
	</div>

	<div class="col-12 required">
		<label for="inputAddress2" class="form-label">Bairro</label>
		<input type="text" class="form-control" id="inputAddress2" placeholder="Exemplo: Olaria">
	</div>



	<div class="col-md-6 required">
		<label for="inputCity" class="form-label">Cidade</label>
		<input type="text" class="form-control" id="inputCity">
	</div>
	<div class="col-md-4 required">
		<label for="inputState" class="form-label">Estado</label>
		<select id="inputState" class="form-select">
			<option selected>Escolher...</option>
			<option>...</option>
		</select>
	</div>
	<div class="col-md-2 required">
		<label for="inputZip" class="form-label">CEP</label>
		<input type="text" class="form-control" id="inputZip">
	</div>
	
	<div class="col-12 required" *ngIf="tipoUsuario == 1">
		<label for="cnh" class="form-label">Número de sua CNH (Carteira Nacional de Habilitação)</label>
		<input type="number" class="form-control" id="cnh" placeholder="Exemplo: 09267028253">
	</div>

	<div class="col-12 required" *ngIf="tipoUsuario == 1">
		<label for="cnh" class="form-label">Modelo do Veículo</label>
		<input type="text" class="form-control" id="modelo" placeholder="Volkswagem Fox 2012">
	</div>

	<div class="col-12 required" *ngIf="tipoUsuario == 1">
		<label for="cnh" class="form-label">Placa do Veículo</label>
		<input type="text" class="form-control" id="placa" placeholder="Volkswagem Fox">
	</div>

	<div class="col-md-12 d-flex justify-content-between">
		<div>

			<div class="form-check required">
				<input class="form-check-input" type="checkbox" id="gridCheck">
				<label class="form-check-label" for="gridCheck">
					Ao me cadastrar concordo com os <a class="termos-de-uso" href="vaobora.net/termos-de-uso">Termos
						de Uso</a>
				</label>
			</div>

		</div>
		<div>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
		</div>
	</div>
</form>