<div class="d-flex p-5 justify-content-center bg-carona">
    <div id="find-carona-content">
        <h1 class="text-center">
            Caronas com preços baixos para você!
        </h1>
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-geo-alt"></i>
                </span>
                <input type="text" class="form-control no-round-right no-round-left" placeholder="Saindo de">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text no-round-left" id="basic-addon1">
                    <i class="bi bi-geo-alt-fill"></i>
                </span>
                <input type="text" class="form-control no-round-right no-round-left" placeholder="Indo para">
            </div>
            <div class="input-group mb-3 mr-3" style="max-width: 95px;">
                <span class="input-group-text no-round-left" id="basic-addon1">
                    <i class="bi bi-person"></i>
                </span>
                <input type="number" style="max-width: 55px;" class="form-control no-round-left" value="1" min="1"
                    max="4">
            </div>
            <a class="btn btn-primary text-nowrap" style="height: 39px;" routerLink="/pesquisar-carona"> Pesquisar Carona </a>
        </form>
    </div>
</div>
<div class="d-flex p-5 justify-content-center">
    <div class="d-flex justify-content-between w-75 mt-4 mx-auto">
        <div class="p-4 info">
            <div class="d-flex mb-3">
                <i class="bi bi-coin"></i>
            </div>
            <h6>Viagens com preços baixos para você</h6>

            Não importa para onde você vai, de ônibus ou de carona, encontre a viagem perfeita entre nossos vários
            destinos e trajetos, todos com preços baixos.

            <p></p>

            <a routerLink="/cadastro" *ngIf="!usuario">Cadastre-se AGORA!</a>
        </div>



        <div class="p-4 info">
            <div class="d-flex mb-3">
                <i class="bi bi-person-rolodex"></i>
            </div>
            <h6>Confie em quem viaja com você</h6>

            Para nós, é muito importante conhecer cada um dos nossos membros e parceiros de ônibus. Conferimos as
            avaliações, perfis e documentações, assim você sempre sabe com quem vai viajar e pode reservar sua
            viagem com tranquilidade e segurança na nossa plataforma.
        </div>

        <div class="p-4 info">
            <div class="d-flex mb-3">
                <i class="bi bi-lightning"></i>
            </div>
            <a routerLink="/login" *ngIf="!usuario">Faça seu LOGIN,</a><h6>Procure, clique e viaje!</h6>

            Reservar uma viagem nunca foi tão fácil! Graças à nossa tecnologia e à simplicidade do app, você reserva
            sua viagem em poucos minutos.
        </div>
    </div>
</div>
