<app-navbar></app-navbar>


<div class="container p-4" id="tamanho">

  <a href="#"><button class="btn btn-primary hBack" type="button">Início</button></a>

    <div class="d-flex w-100 justify-content-center">
        <img src="assets/van.png" height="70" class="d-inline-block align-text-top" style="margin-bottom: 10px">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" name="usuario" class="form-control" placeholder="Usuário" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control" placeholder="Senha" autocomplete="off" required>
    </div>
    <div style="text-align: center">
        <button type="submit" id="button-entrar" class="btn btn-primary">Entrar</button>
        <p></p>
        <a class="esquecer-senha" href="#">Esqueceu sua senha?</a>
        <p></p>
        <a class="cadastro" href="http://localhost:4200/cadastro">Cadastrar-se</a>
        <p></p>
        <a class="contato" href="#">Não conseguiu se cadastrar? Entre em contato conosco!</a>
    </div>
</div>
