
#find-carona-content h1{
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
}
#find-carona-content form{
    display: flex;
    justify-content: center;
}
.searchbar {
    width: 45%;
    padding: 15px;
    min-width: 470px;
}
.filter {
    width: 25%;
    padding: 15px;
    background: red;
    min-width: 200px;
}
.trips {
    width: 40%;
    padding: 15px;
    background: blue;
    min-width: 270px;
}

.trip {

}

.partida, .destino {
    display: inline-flex;
    gap: 10px;
}