
#find-carona-content h1{
    color: white;
    font-family: 'Oleo Script Swash Caps', cursive;
}
#find-carona-content form{
    display: flex;
    justify-content: center;
}
.searchbar {
    width: 45%;
    padding: 15px;
    min-width: 470px;
}
.filter {
    width: 25%;
    padding: 15px;
    min-width: 200px;
}
.trips {
    width: 40%;
    padding: 15px;
    min-width: 270px;
}

.trip {
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.linha {
    display: flex;
    justify-content: space-between;
}

.locais {
    display:flex;
    flex-direction: column;

}

.partida, .destino {
    display: inline-flex;
    gap: 10px;
}
.user {
    display: flex;
}
.user .icon {
    border: 1px solid;
    border-radius: 50%;
}
.user .icon img {
    border-radius: 50%;
}
.user .info {
 font-size: 12px;
}

.filtro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.descricao {
    flex-grow: 1;
}