@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


a.voltar {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    width: auto;
    font-size: larger;
    font-family: 'Oswald', sans-serif;
}
.voltar label {
    font-size: x-large;
    margin: 0;
    cursor: pointer;
}
a.voltar:link { text-decoration: none; }
a.voltar:visited { text-decoration: none; }
a.voltar:hover { text-decoration: none; }
a.voltar:active { text-decoration: none; }